.fixed-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hori-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
}

.hori-list .menu-item {
  color: #fff;
  padding: 10px 20px 10px;
}

.menu-item a:hover {
  color: #FFE4E1;
  text-decoration: none;
}

.menu-item.active {
  box-shadow: inset 0 -2px 0 #0000FF;
}

.trans-background {
  /* background-color: rgba(0,0,0,0.1); */
  background-color: #00000022;
}

.trans-background.solid {
  /* background-color: rgba(0,0,0,0.8); */
  background-color: #000000CC;
}

.menu-nav {
  z-index: 10;
  padding-bottom: 0px;
}

.logo-link {
  line-height: 0.9;
  padding: 10px 0;
}

.logo {
  width: 20px;
  height: 20px;
}

.mobile-nav {
  padding-top: 8px;
  display: none; /* hide first */
}

.mobile-nav button {
  border: none;
  background-color: transparent;
  color: #fff;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  top: 40px;
  display: none; /* hide first */
}

.mobile-menu li {
  text-align: end;
  color: #fff;
  background-color:rgba(100,149,237,0.8);
  padding: 8px 20px 8px;
  border-bottom: 1px solid #d5e4f3;
}