@media screen and (max-width: 480px) {
  
  .markdown-body {
    padding: 0 20px 20px;
    position: relative;
    top: -20px;
  }

  .menu-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-menu.active {
    display: block;
  }

}
